<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body>
    <header class="w-full bg-green-900  py-4 px-10 ">
        <nav>
            <ul class="flex gap-10 text-white font-semibold">
                <li class="hover:text-yellow-400 transition-all ease-in-out duration-200"><a href="/">Shop</a></li>
                <li class="hover:text-yellow-400 transition-all ease-in-out duration-200 active:text-white"><a href="/admin/add-product">Add product</a></li>
            </ul>
        </nav>
    </header>
    <form action="/admin/add-product" method="POST" class="w-[20rem] mx-auto mt-8 gap-4 flex flex-col">
        <label for="" class="font-semibold">Title</label>
        <input type="text" name="title" id="" class="w-full border-[1px] border-gray-300">
        <button type="submit" class="py-2 px-4 border-2 border-green-900 text-green-900 bg-white w-[10rem] hover:bg-green-900 hover:text-white transition-all ease-in-out duration-200">Add</button>
    </form>
</body>
</html>